

.env
node_modules
migrations
dist/
/migrations/*
server/dist/*
server/node_modules
server/dist
server/node_modules/*
server/dist/*
server/migrations
server/migrations/*
server/.env
server/.env/*






